@import "reset";

.container{
  width: 100%;
  max-width: 1260px;
  margin: 0 auto;
  padding: 0px 30px;
}

.main-link{
  text-decoration: none;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 0 10px;
  svg{
    font-size: 22px;
  }
}

.transarent-link{
  text-decoration: none;
  color: #000;
}

.main-button{
  padding: 1rem 2rem;
  background-color: #002f34;
  color: #fff;
  font-size: 20px;
  display: flex;
  align-items: center;
  gap: 0 10px;
}

section{
  padding: 60px 0;
}
